.Carousel-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Carousel-main > i {
  cursor: pointer;
  margin: 10px;
  color: #aaa;
}

#left-arrow.hidden {
  visibility: hidden;
}

#right-arrow.hidden {
  visibility: hidden;
}

.Carousel-main > i:hover {
  color: black;
}
